@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: black;
  font-family: 'Poppins', sans-serif;
  color: white; }

form {
  border-radius: 20px;
  margin-top: 15px !important;
  background-color: black !important;
  padding: 50px;
  width: 80%;
  color: white; }

.btn-primary {
  width: 100%;
  border: none;
  border-radius: 50px;
  background: linear-gradient(90deg, #020024 0%, #4b0e9a 35%, #00d4ff 100%);
  margin-top: 20px; }

.black {
  background-color: black; }

.form-control {
  color: rgba(255, 255, 255, 0.87);
  background-color: transparent;
  border-bottom-color: rgba(255, 255, 255, 0.42);
  box-shadow: none !important;
  border: none;
  border-bottom: 1px solid;
  border-radius: 4px 4px 0 0; }

h4 {
  font-size: 2rem !important;
  font-weight: 700; }

.form-label {
  font-weight: 800 !important; }

img {
  height: 100%;
  width: 100%; }

input {
  color: #000; }

.nav {
  font-size: 25px;
  font-weight: 900; }

.navbar {
  margin-top: 20px;
  margin-bottom: 20px; }

.item {
  margin: 0 auto; }

.text {
  font-size: 5em; }

.name {
  font-weight: bolder; }

.content {
  padding-left: 10%; }

.para {
  line-height: 2;
  font-size: 1.3em;
  padding-top: 20px; }

a {
  text-decoration: none;
  color: white; }

a:hover {
  color: #d710e9;
  text-decoration: underline;}


